@import "../../styles//responsive.scss";

.estateLists {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .listContainer {
    flex: 3;
    height: 100%;

    @include md {
      flex: none;
      margin-bottom: 30px;
    }

    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;

    @include md {
      flex: none;
    }
  }
}
