@import "./responsive.scss";

.layout {
  height: 100vh;
  max-width: 1366px;
  margin-inline: auto;
  padding: 0px 20px;

  @include lg {
    background-color: red;
    max-width: 1280px;
  }

  @include md {
    background-color: blue;
    max-width: 768px;
  }

  @include sm {
    background-color: yellow;
    max-width: 640px;
  }
}
