@import "../../styles//responsive.scss";

.searchBar {
  .buttons {
    button {
      cursor: pointer;
      padding: 16px 33px;
      border: 1px solid #999;
      background-color: white;
      border-bottom: none;

      &.active {
        background-color: black;
        color: white;
      }

      &:nth-child(1) {
        border-top-left-radius: 7px;
        border-right: none;
      }

      &:nth-child(2) {
        border-top-right-radius: 7px;
        border-left: none;
      }
    }
  }

  .form {
    display: flex;
    width: 100%;
    border: 1px solid #999;
    justify-content: space-between;
    min-height: 65px;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    input {
      width: 200px;
      border: none;
      padding: 0px 10px;

      @include lg {
        padding: 0px 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }

      @include md {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }

      @include sm {
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        padding: 20px;
        border: 1px solid #999;
      }
    }

    .search {
      border: none;
      cursor: pointer;
      background-color: #fece51;
      flex: 1;

      @include sm {
        padding: 12px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
